.lightdm.menu
{
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 1px;
  color: white;
}

.lightdm-combo .menu
{
  background-color: #404756;
  border-radius: 0px;
  padding: 0px;
  color: white;
}

.lightdm.menu .menuitem *,
.lightdm.menu .menuitem.check:active,
.lightdm.menu .menuitem.radio:active
{ color: white; }

.lightdm.menubar
{
  color: #f1f1f1;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightdm.menubar > .menuitem
{ padding: 2px 6px; }

.lightdm-combo.combobox-entry .button,
.lightdm-combo .cell, .lightdm-combo .button,
.lightdm-combo .entry, .lightdm.button, .lightdm.entry
{
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none;
}

.lightdm.button, .lightdm.button:hover,
.lightdm.button:active, .lightdm.button:active:focus,
.lightdm.entry, .lightdm.entry:hover,
.lightdm.entry:active, .lightdm.entry:active:focus
{ background-image: none; border-image: none; }

.lightdm.button:focus, .lightdm.entry:focus
{
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-style: solid;
  color: white;
}

.lightdm.entry:selected
{ background-color: rgba(255, 255, 255, 0.8); }

.lightdm.entry:active
{
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: dashentry_spinner 1s infinite linear;
}

.lightdm.option-button
{
  padding: 2px;
  background: none;
  border: 0;
}

.lightdm.toggle-button
{ background: none; border-width: 0; }

.lightdm.toggle-button.selected
{
  background-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
}
